include layout/utils

-
    var services = [
        {
            title: 'Банковская гарантия на исполнение контракта',
            description: '44-ФЗ, 223-ФЗ, 185-ФЗ/615-П., Коммерческие закупки. Сумма до 1200 млн. рублей Ставка от 1,85% годовых Срок до 36 мес.',
            icon: require('assets/icons/service.svg'),
            class: ''
        }, {
            title: 'Банковская гарантия на исполнение контракта',
            description: '44-ФЗ, 223-ФЗ, 185-ФЗ/615-П., Коммерческие закупки. Сумма до 1200 млн. рублей Ставка от 1,85% годовых Срок до 36 мес.',
            icon: require('assets/icons/service2.svg'),
            class: ''
        }, {
            title: 'Оформление СРО',
            description: '44-ФЗ, 223-ФЗ, 185-ФЗ/615-П., Коммерческие закупки. Сумма до 1200 млн. рублей Ставка от 1,85% годовых Срок до 36 мес.',
            icon: require('assets/icons/service3.svg'),
            class: ''
        }, {
            title: 'Банковские гарантии',
            description: '44-ФЗ, 223-ФЗ, 185-ФЗ/615-П., Коммерческие закупки. Сумма до 1200 млн. рублей Ставка от 1,85% годовых Срок до 36 мес.',
            icon: require('assets/icons/service4.svg'),
            class: ''
        }, {
            title: 'Спецсчета',
            description: '44-ФЗ, 223-ФЗ, 185-ФЗ/615-П., Коммерческие закупки. Сумма до 1200 млн. рублей Ставка от 1,85% годовых Срок до 36 мес.',
            icon: require('assets/icons/service5.svg'),
            class: ''
        }, {
            title: 'Лизинг',
            description: '44-ФЗ, 223-ФЗ, 185-ФЗ/615-П., Коммерческие закупки. Сумма до 1200 млн. рублей Ставка от 1,85% годовых Срок до 36 мес.',
            icon: require('assets/icons/service6.svg'),
            class: ''
        }, {
            title: 'Кредитование',
            description: '44-ФЗ, 223-ФЗ, 185-ФЗ/615-П., Коммерческие закупки. Сумма до 1200 млн. рублей Ставка от 1,85% годовых Срок до 36 мес.',
            icon: require('assets/icons/service7.svg'),
            class: '_half'
        }, {
            title: 'Расчетно-кассовое обслуживание',
            description: '44-ФЗ, 223-ФЗ, 185-ФЗ/615-П., Коммерческие закупки. Сумма до 1200 млн. рублей Ставка от 1,85% годовых Срок до 36 мес.',
            icon: require('assets/icons/service.svg'),
            class: '_half'
        }, {
            title: 'Спецсчета',
            description: '44-ФЗ, 223-ФЗ, 185-ФЗ/615-П., Коммерческие закупки. Сумма до 1200 млн. рублей Ставка от 1,85% годовых Срок до 36 мес.',
            icon: require('assets/icons/service5.svg'),
            class: '_full'
        },

    ]


+section.services
    h2.section__title Большой <span> комплекс услуг</span> для предпринимателей <span>без посещений офиса и комиссий</span>
    .services-list
        each item in services
            .services__item(class=item.class)
                .services__item-header
                    +img(item.icon).services__item-icon
                    +img(require('assets/icons/service-arrow.svg')).services__item-arrow
                .services__item-title= item.title
                .services__item-description= item.description
                .services__item-footer
                    +popupBtn('call').button.services__item-popup-btn Оставить заявку
                    +anchor.button.services__item-link Подробнее
