include layout/utils
include features/popup/base-popup/base-popup

+base-popup("thx", "thx-popup")
    +img(require('assets/icons/thx-icon.svg')).thx-popup__icon
    .title Спасибо!#[br]Свяжемся с вами в течение 15 минут
