include layout/utils

-
    var faq = [
        {
            question: 'Вопрос',
            answer: '<p>Жирмунский, однако, настаивал, что синхрония доступна. Анжамбеман семантически отражает хорей. Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна.</p> <p>Подтекст, если уловить хореический ритм или аллитерацию на "р", иллюстрирует культурный размер. Голос персонажа интуитивно понятен.</p> <p>Субъективное восприятие вразнобой нивелирует дольник. Ритмический рисунок, чтобы уловить хореический ритм или аллитерацию на "л", неумеренно начинает ритм.</p>'
        },
        {
            question: 'Вопрос',
            answer: '<p>Жирмунский, однако, настаивал, что синхрония доступна. Анжамбеман семантически отражает хорей. Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна.</p> <p>Подтекст, если уловить хореический ритм или аллитерацию на "р", иллюстрирует культурный размер. Голос персонажа интуитивно понятен.</p> <p>Субъективное восприятие вразнобой нивелирует дольник. Ритмический рисунок, чтобы уловить хореический ритм или аллитерацию на "л", неумеренно начинает ритм.</p>'
        },
        {
            question: 'Вопрос',
            answer: '<p>Жирмунский, однако, настаивал, что синхрония доступна. Анжамбеман семантически отражает хорей. Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна.</p> <p>Подтекст, если уловить хореический ритм или аллитерацию на "р", иллюстрирует культурный размер. Голос персонажа интуитивно понятен.</p> <p>Субъективное восприятие вразнобой нивелирует дольник. Ритмический рисунок, чтобы уловить хореический ритм или аллитерацию на "л", неумеренно начинает ритм.</p>'
        },
        {
            question: 'Вопрос',
            answer: '<p>Жирмунский, однако, настаивал, что синхрония доступна. Анжамбеман семантически отражает хорей. Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна.</p> <p>Подтекст, если уловить хореический ритм или аллитерацию на "р", иллюстрирует культурный размер. Голос персонажа интуитивно понятен.</p> <p>Субъективное восприятие вразнобой нивелирует дольник. Ритмический рисунок, чтобы уловить хореический ритм или аллитерацию на "л", неумеренно начинает ритм.</p>'
        },
        {
            question: 'Вопрос',
            answer: '<p>Жирмунский, однако, настаивал, что синхрония доступна. Анжамбеман семантически отражает хорей. Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна.</p> <p>Подтекст, если уловить хореический ритм или аллитерацию на "р", иллюстрирует культурный размер. Голос персонажа интуитивно понятен.</p> <p>Субъективное восприятие вразнобой нивелирует дольник. Ритмический рисунок, чтобы уловить хореический ритм или аллитерацию на "л", неумеренно начинает ритм.</p>'
        }
    ]



+section.faq
    .faq-content
        ul.faq__list
            each item in faq
                li.faq__item
                    .faq__item-question= item.question
                        .faq__item-btn
                    .faq__item-answer-wrapper
                        .faq__item-answer!= item.answer
        .faq__image
            h2.faq__title Отвечаем на популярные вопросы
            +img(require('assets/static/FAQ-image.jpg?as=webp')).faq__image
