mixin field(props)
    -
        props = Object.assign({
            placeholder: '',
            name: '',
            type: 'text',
        }, props || {})

    .field&attributes(attributes)
        .field__title= props.placeholder
        input.field__input(name=props.name, type=props.type)
        block
