@use 'styles/utils';

.call-popup {
    &__inner {
        top: -40px;
        scale: 0.9;
    }

    .title {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: utils.$tablet1200) {
    .call-popup {
        &__inner {
            top: 0;
            scale: 1;
        }

        .title {
            margin-bottom: 35px;
        }

        .form {
            gap: 15px;
        }

        .field {
            height: 62px;
        }
    }
}
