@use 'styles/utils';

.breadcrumbs:has(+ .addresses, + .page-title) {
    position: static;
    margin-top: 50px;
    margin-bottom: 10px;
    padding-left: 30px;
    color: var(--black);
}

.breadcrumbs + :is(.section, .page-title) {
    margin-top: 0;
}

.breadcrumbs {
    position: absolute;
    z-index: 3;
    top: 63px;
    left: 130px;
    display: flex;
    gap: 10px;
    color: var(--white);

    &__item {
        opacity: 0.5;

        &::after {
            content: '/';
            margin-left: 10px;
        }
    }
}

@media only screen and (max-width: utils.$tablet1000) {
    .breadcrumbs:has(+ .addresses, + .page-title) {
        margin-top: 30px;
        padding-left: 10px;
        flex-wrap: wrap;
    }

    .breadcrumbs {
        top: 50px;
        left: 10px;
    }
}
