include layout/utils

+section.seo
    .seo__text
        h2 СЕО заголовок
        p Жирмунский, однако, настаивал, что синхрония доступна. Анжамбеман семантически отражает хорей. Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна.
        p Подтекст, если уловить хореический ритм или аллитерацию на "р", иллюстрирует культурный размер. Голос персонажа интуитивно понятен.
        p Субъективное восприятие вразнобой нивелирует дольник. Ритмический рисунок, чтобы уловить хореический ритм или аллитерацию на "л", неумеренно начинает ритм.
        ul
            li gdsfg
            li fgh
        ol
            li fdsgsfd
            li fdgdf
        p Жирмунский, однако, настаивал, что синхрония доступна. Анжамбеман семантически отражает хорей. Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания
        p Подтекст, если уловить хореический ритм или аллитерацию на "р", иллюстрирует культурный размер. Голос персонажа интуитивно понятен.
        p Субъективное восприятие вразнобой нивелирует дольник. Ритмический рисунок, чтобы уловить хореический ритм или аллитерацию на "л", неумеренно начинает ритм.
    +wrapBreak: button.seo__button Читать полностью
    +wrapBreak: picture
        source(srcset=require('assets/content/seo-image-max-width-1000.png?as=webp'), media='(max-width: 1000px)')
        +img(require('assets/content/seo-image.png?as=webp')).seo-image
