<svg viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_114_7934)">
    <path d="M0 20.16C0 10.6565 0 5.90473 2.95236 2.95236C5.90473 0 10.6565 0 20.16 0H21.84C31.3435 0 36.0952 0 39.0477 2.95236C42 5.90473 42 10.6565 42 20.16V21.84C42 31.3435 42 36.0952 39.0477 39.0477C36.0952 42 31.3435 42 21.84 42H20.16C10.6565 42 5.90473 42 2.95236 39.0477C0 36.0952 0 31.3435 0 21.84V20.16Z" fill="#B7D44B"/>
    <path d="M21 7C14.3724 7 9 12.3724 9 19C9 22.3126 10.3422 25.312 12.513 27.4834C14.6844 29.656 19.8 32.8 20.1 36.1C20.145 36.5948 20.5032 37 21 37C21.4968 37 21.855 36.5948 21.9 36.1C22.2 32.8 27.3156 29.656 29.487 27.4834C31.6578 25.312 33 22.3126 33 19C33 12.3724 27.6276 7 21 7Z" fill="white"/>
    <path d="M21 24C23.2092 24 25 21.9853 25 19.5C25 17.0147 23.2092 15 21 15C18.7909 15 17 17.0147 17 19.5C17 21.9853 18.7909 24 21 24Z" fill="#B7D44B"/>
    </g>
    <defs>
    <clipPath id="clip0_114_7934">
    <rect width="42" height="42" fill="white"/>
    </clipPath>
    </defs>
</svg>
