include layout/utils

+section.form-section
    .form-section__content
        h2.title Оставьте заявку на бесплатную консультацию
        .form-section__text Свяжемся с вами в течение 15 минут
        ul.check-list
            li Бесплатная консультация с экспертом СОФИК
            li Определим сумму и срок банковской гарантии
            li Подберём наилучшие условия для вашего бизнеса
            li Ответим на все возникшие вопросы
    include ui/form/form
