.form-section {
    padding: 150px 0 160px;
    color: var(--white);
    background-color: var(--black);

    .container {
        gap: 30px;
        display: flex;
        justify-content: space-between;
    }

    &__title {
        margin-bottom: 30px;
        font-size: 5.2rem;
    }

    &__content {
        width: 100%;
        max-width: 770px;
    }

    &__text {
        margin-bottom: 30px;
        opacity: 0.5;
    }

    .form {
        width: 100%;
        max-width: 920px;
    }
}
