@use 'general/_preflight.css';
@use 'general/reset';
@use 'general/variables';
@use 'general/fonts';
@use 'general/global';
@use 'node_modules/swiper/swiper';
@use 'node_modules/swiper/modules/navigation';
@use 'node_modules/swiper/modules/pagination';
@use 'node_modules/swiper/modules/scrollbar' as swiper-scrollbar;
@use 'node_modules/swiper/modules/effect-fade';

// Ui
@use 'ui/buttons/close-btn';
@use 'ui/scrollbar';
@use 'ui/title';
@use 'ui/buttons/button';
@use 'ui/check-list';
@use 'ui/input/input';
@use 'ui/form/form';
@use 'ui/breadcrumbs/breadcrumbs';
@use 'ui/tabs/tabs';

// Popup
@use 'features/popup/popup';
@use 'features/popup/base-popup/base-popup';
@use 'ui/popups/call-popup/call-popup';
@use 'ui/popups/thx-popup/thx-popup';

// Components
@use 'components/main-hero/main-hero';
@use 'components/stages/stages';
@use 'components/our-clients/our-clients';
@use 'components/our-projects/our-projects';
@use 'components/calculator/calculator';
@use 'components/form-section/form-section';
@use 'components/services/services';
@use 'components/content/content';
@use 'components/page-hero/page-hero';
@use 'components/seo/seo';
@use 'components/specialists/specialists';
@use 'components/director/director';
@use 'components/FAQ/FAQ';
@use 'components/franchise-benefits/franchise-benefits';
@use 'components/franchise-stages/franchise-stages';
@use 'components/franchise-packages/franchise-packages';
@use 'components/book-page-hero/book-page-hero';
@use 'components/partners-page-hero/partners-page-hero';
@use 'components/partners-stages/partners-stages';
@use 'components/addresses/addresses';
@use 'components/licenses/licenses';

// Page
@use 'layout/cookie-notification/cookie-notification';
@use 'layout/header/header';
@use 'layout/footer/footer';
@use 'layout/menu/menu';
