include layout/utils
include ui/input/input

-
    var options = {
        guarantee: [
            'Возврат аванса',
            'Исполнение контракта',
            'Гарантийные обязательства',
            'На участие в торгах',
        ],
        law: [
            '44 - ФЗ',
            '223 - ФЗ',
            'ПП - 615(185 - ФЗ)',
            'Коммерческий контракт',
        ]
    }

+section.section--black.calculator
    h2.section__title Калькулятор банковской гарантии
    .calculator-content
        form.calculator__form
            +field({placeholder: 'Сумма гарантии', name: 'amount'})._amount
            +field({placeholder: 'Срок гарантии', name: 'period'})._period
                input._hidden(type='date')
            .field.calculator__field._result
                output.calculator__field-output 0 ₽
                .calculator__field-info
                    .calculator__field-rate 1.5% годовых
                    .calculator__field-icon
                    .calculator__field-tooltip
                        .calculator__field-tooltip-text Минимальная процентная ставка банка за услугу банковской гарантии
            +popupBtn('call').button.calculator__form-button Отправить заявку
        .calculator-options
            .calculator__selector
                .calculator__selector-selected Федеральный закон
                ul.calculator__selector-options
                    each item in options.law
                        li.calculator__selector-options-item= item
                    input(type='hidden')
            .calculator__selector
                .calculator__selector-selected Гарантия
                ul.calculator__selector-options
                    each item in options.guarantee
                        li.calculator__selector-options-item= item
                    input(type='hidden')
        .calculator__info Расчет стоимости не является публичной офертой
