include layout/utils

+section.content
    h2 Внутренний заголовок страницы H2
    p Жирмунский, однако, настаивал, что синхрония доступна. Анжамбеман семантически отражает хорей. Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна.
    p Жирмунский, однако, настаивал, что синхрония доступна. Анжамбеман семантически отражает хорей. Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна.
    h3 Большой заголовок H3
    blockquote Жирмунский, однако, настаивал, что синхрония доступна. Анжамбеман семантически отражает хорей. Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна.
    p © Алексей Кизляр, руководитель отдела маркетинга
    p Подтекст, если уловить хореический ритм или аллитерацию на "р", иллюстрирует культурный размер. Голос персонажа интуитивно понятен. Субъективное восприятие вразнобой нивелирует дольник. Ритмический рисунок, чтобы уловить хореический ритм или аллитерацию на "л", неумеренно начинает ритм.
    +img(require('assets/content/content-img.jpg'))
    h4 Подзаголовок H4
    ul
        li Жирмунский, однако, настаивал, что синхрония доступна.
        li Анжамбеман семантически отражает хорей.
        li Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна.
    ol
        li Жирмунский, однако, настаивал, что синхрония доступна.
        li Анжамбеман семантически отражает хорей.
        li Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна.
