extends layout/page
include layout/utils

block prepend head
    - var title = 'Типовая'

block append main
    include ui/page-title/page-title
    +pageTitle({ breadcrumbs: ['Главная', 'Медиацентр'], pageTitle: 'Типовая страница' })
    include components/content/content
    include components/reasons/reasons
