extends layout/page

block prepend head
    - var title = 'Медиацентр'

block append main
    include ui/page-title/page-title
    +pageTitle({ breadcrumbs: ['Главная'], pageTitle: 'Медиацентр' })
    include components/blog/blog
