include layout/utils

+section.licenses
    h2.section__title Лицензии
    .licenses__list.swiper
        .swiper-wrapper
            - var img = require('assets/content/licenses.jpg')
            each _ in Array(8)
                +wrapBreak: a.licenses__item.swiper-slide(href=img, data-fancybox='gallery')
                    +img(img).licenses__item-image
                    .licenses__item-title Базовая лицензия на осуществление банковской деятельности
        .scrollbar.swiper-scrollbar
