@use 'styles/utils';

.licenses {
    padding-bottom: 214px;

    &__list {
        position: static;
        margin-top: 50px;

        .scrollbar {
            bottom: 150px !important;
        }
    }

    &__item {
        display: block;
        &-image {
            overflow: hidden;
            border-radius: 20px;
            border: 1px solid hsla(0, 0%, 7%, 0.2);
        }

        &-title {
            font-size: 2.8rem;
        }
    }
}

@media only screen and (max-width: utils.$tablet1000) {
    .licenses {
        padding-bottom: 94px;

        &__list {
            margin-top: 30px;

            .scrollbar {
                bottom: 50px !important;
            }
        }

        &__item {
            width: 255px;

            &-title {
                font-size: 1.6rem;
            }
        }
    }
}
