extends layout/page
include layout/utils

block prepend head
    - var title = 'Главная'

block append main
    include components/main-hero/main-hero
    include components/numbers/numbers
    include components/services/services
    include components/calculator/calculator
    include components/reasons/reasons
    include components/our-projects/our-projects
    +section.stages.section-border
        h2.title Схема получения банковской гарантии
        include components/stages/stages
        +stages
    include components/our-clients/our-clients
    include components/seo/seo
