extends layout/page
include layout/utils

block append head
    link(href=require('./styles.scss'), rel='stylesheet')

block append main
    +section
        p hello

block append scripts
    script(src=require('./main.ts'))
