extends layout/page
include layout/utils

block append head
    link(href=require('./styles.scss'), rel='stylesheet')

block append main
    +section
        p hello
    +section
        p hello
    .section-wrapper
        +section
            p popop
        +section
            p jojojo

block append scripts
    script(src=require('./main.ts'))
