extends layout/page
include layout/utils

block append head
    link(href=require('./styles.scss'), rel='stylesheet')

block append main
    include components/stages/stages
    +stages

block append scripts
    script(src=require('./main.ts'))
