@use 'styles/utils';

.main-hero {
    padding: 0;

    .stroke {
        stroke: red;
        stroke-width: 10;
    }

    &__slide {
        width: 100%;
        height: 960px;
        overflow: hidden;
        border-radius: 30px;

        &-content {
            position: absolute;
            inset: 0;
            padding: 100px;
            color: var(--white);
        }

        &-title {
            margin-bottom: 50px;
            max-width: 822px;
            font: 400 7.2rem var(--manrope);
        }

        &-button {
            padding: 30px 0;
            width: 100%;
            max-width: 745px;
            display: block;
            color: var(--black);
            font-size: 2.4rem;
            text-align: center;
            background-color: var(--382C);
            border-radius: 20px;
        }

        &-image {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }
    }

    &__controls {
        position: absolute;
        z-index: 2;
        bottom: 100px;
        left: 100px;
        padding: 10px 20px;
        display: flex;
        gap: 20px;
        align-items: center;
        background-color: hsla(0, 0%, 100%, 0.1);
        border-radius: 20px;

        &-pagination {
            position: static;
            display: flex;
            gap: 20px;
            align-items: center;

            .swiper-pagination-bullet {
                --time: 5;
                @include utils.square(20px);
                position: relative;
                margin: 0 !important;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 1 !important;
                background-color: transparent;
                border: 1px solid var(--375C);

                span {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    display: none;

                    svg {
                        --time: 0;
                        stroke-width: 4px;
                        -webkit-animation: rotate 5s linear infinite;
                        -webkit-transform-origin: center center;
                        -ms-transform-origin: center center;
                        position: absolute;
                        z-index: 10;
                        top: 0;
                        left: 0;
                        transform-origin: center center;
                        width: 100%;
                        height: 100%;
                        fill: none;
                        animation: rotate 5s linear infinite;

                        .loader {
                            stroke-dasharray: 150, 200;
                            stroke-dashoffset: -10;
                            -webkit-animation:
                                dash 5s,
                                color 5s;
                            stroke-linecap: round;
                            animation:
                                dash 5s ease-in-out infinite,
                                color 5s ease-in-out infinite;
                        }
                    }
                }

                &-active {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: transparent;
                    border-color: transparent;

                    span {
                        display: block;
                    }

                    &::after {
                        content: '';
                        display: block;
                        @include utils.circle(10px);
                        background-color: var(--375C);
                    }
                }
            }
        }

        &-btn {
            @include utils.bg-defaults(auto);
            @include utils.square(24px);
            background-image: url('assets/icons/slider-arrow.svg');

            &._prev {
                transform: rotate(180deg);
            }
        }
    }
}

@media only screen and (max-width: utils.$tablet1000) {
    .main-hero {
        .container {
            padding: 0;
        }

        &__slide {
            height: 678px;
            border-radius: 0;

            &-content {
                padding: 50px 10px;
            }

            &-title {
                margin-bottom: 30px;
                font-size: 3.2rem;
            }

            &-button {
                padding: 20px 0;
                font-size: 1.6rem;
            }
        }

        &__controls {
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
            background-color: var(--black);

            &-btn {
                display: none;
            }
        }
    }
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}
@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}
@-webkit-keyframes color {
    0% {
        stroke: var(--375C);
    }
    100% {
        stroke: var(--375C);
    }
}
@keyframes color {
    0% {
        stroke: var(--375C);
    }
    100% {
        stroke: var(--375C);
    }
}
