include layout/utils

+section.main-hero
    .main-hero__slider.swiper
        .swiper-wrapper
            each _, index in Array(6)
                .main-hero__slide.swiper-slide
                    .main-hero__slide-content
                        .main-hero__slide-title Заголовок слайда #{ index+1 } Банковские гарантии по низким ставкам из любой точки России
                        if index===0
                            +popupBtn('call').main-hero__slide-button Открыть попап
                        else
                            +anchor.main-hero__slide-button Ссылка для слайдера #{ index+1 }
                    +img(require('assets/content/slide.png')).main-hero__slide-image
        .main-hero__controls
            button.main-hero__controls-btn._prev
            .swiper-pagination.main-hero__controls-pagination
            button.main-hero__controls-btn._next
