@use 'styles/utils';

.our-projects {
    .title {
        margin-bottom: 50px;
    }

    &__button {
        position: absolute;
        top: 150px;
        right: 30px;
        padding: 20px;
        display: block;
        font-size: 2.4rem;
        border-radius: 20px;
        border: 1px solid var(--375C);
    }

    &__list {
        margin-bottom: 50px;
    }

    .swiper-slide {
        max-width: 600px;
        height: auto;
    }

    &__item {
        padding: 50px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        background-color: var(--gray);
        background-image: linear-gradient(315deg, rgba(183, 212, 75, 0.09) 0%, rgba(183, 212, 75, 0) 100%);
        border-radius: 20px;

        &-img {
            margin-bottom: 30px;
            width: 100%;
            height: 300px;
            object-position: center;
            object-fit: cover;
            border-radius: 30px;
        }

        &-title {
            margin-bottom: 10px;
            font-size: 3.2rem;
        }

        &-text {
            opacity: 0.8;
        }
    }
}

@media only screen and (max-width: utils.$tablet1200) {
    .our-projects {
        padding-bottom: 142px;

        .title {
            margin-bottom: 30px;
        }

        &__button {
            top: initial;
            right: 10px;
            bottom: 50px;
            left: 10px;
            font-size: 1.6rem;
            text-align: center;
        }

        .swiper-slide {
            max-width: 300px;
        }

        &__item {
            padding: 20px;

            &-img {
                height: 200px;
            }

            &-title {
                font-size: 2.4rem;
            }
        }
    }
}
