extends layout/page

block append main
    include components/partners-page-hero/partners-page-hero
    include components/content/content
    include components/conditions/conditions
    include components/partners-stages/partners-stages
