include layout/utils

-
    var specialists = [
        {
            image: require('assets/content/specialists/specialist.jpg'),
            name: 'Евгений Беляев',
            position: 'Менеджер'
        },
        {
            image: require('assets/content/specialists/specialist2.jpg'),
            name: 'Константин Тюрнин',
            position: 'Менеджер'
        },
        {
            image: require('assets/content/specialists/specialist3.jpg'),
            name: 'Иван Косарев',
            position: 'Менеджер'
        },
        {
            image: require('assets/content/specialists/specialist4.jpg'),
            name: 'Таисия Булышева',
            position: 'Менеджер'
        },
        {
            image: require('assets/content/specialists/specialist2.jpg'),
            name: 'Иван Косарев',
            position: 'Менеджер'
        },
        {
            image: require('assets/content/specialists/specialist4.jpg'),
            name: 'Таисия Булышева',
            position: 'Менеджер'
        },
        {
            image: require('assets/content/specialists/specialist3.jpg'),
            name: 'Евгений Беляев',
            position: 'Менеджер'
        },
    ]


+section.specialists
    h2.section__title Специалисты
    .specialists__list.swiper
        .swiper-wrapper
            each item in specialists
                .specialists__item.swiper-slide
                    +img(item.image).specialists__item-image
                    .specialists__item-name= item.name
                    .specialists__item-position= item.position
        .specialists__list-scroll.swiper-scrollbar
