include layout/utils

.cookie-notification
    span.cookie-notification__text Мы используем куки. Это помогает сделать сайт ещё удобнее
    .cookie-notification__buttons-wrapper
        +wrapBreak: button.button.cookie-notification__button Понятно
        +anchor("#").cookie-notification__button Подробнее
