extends layout/page

block prepend head
    - var title = 'Калькулятор'

block append main
    include ui/page-title/page-title
    +pageTitle({ breadcrumbs: ['Главная'], pageTitle: 'Калькулятор' })
    include components/content/content
    include components/calculator/calculator
    include components/reasons/reasons
    include components/seo/seo
