include layout/utils
include ui/tabs/tabs

-
    var list = {
        isOnPartnersPage: true,
        listItems: [
            {
                title: 'Мы заключаем с вами агентский договор',
                description: 'Подписываем договор, и вы становитесь официальным агентом по выдаче банковских гарантий',
                class: '_half'
            }, {
                title: 'Вы взаимодействуете с клиентом',
                description: 'Привлекаете компанию, заинтересованную в получении банковской гарантии, тендерного займа или другого финансового продукта',
                class: '_half'
            }, {
                title: 'Мы оформляем банковскую гарантию',
                description: 'Наши специалисты готовят документы, взаимодействуют с банками и контролируют выпуск БГ или предоставление иного финансового продукта',
                class: '_half'
            }, {
                title: 'Вы получаете вознаграждение',
                description: 'После получения клиентом банковской гарантии вам начисляется вознаграждение',
                class: '_half'
            },
        ]
    }

+section.conditions
    h2.section__title Условия сотрудничества
    +tabs(list)
