@use 'styles/utils';

.page-hero {
    padding: 0;

    &__banner {
        position: relative;
        height: 960px;
        overflow: hidden;
        border-radius: 20px;

        &._dark {
            &::after {
                content: '';
                position: absolute;
                inset: 0;
                display: block;
                opacity: 0.5;
                background-color: var(--black);
            }
        }

        &._about {
            background-color: var(--black);
        }
    }

    &__logo {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &__title {
        position: absolute;
        top: 100px;
        left: 130px;
        color: var(--white);
        font: 400 7.2rem var(--manrope);
    }

    &__image {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
    }
}

@media only screen and (max-width: utils.$tablet1000) {
    .page-hero {
        &__banner {
            margin: 0 -10px;
            height: 678px;
            border-radius: 0;
        }

        &__logo {
            bottom: 200px;
            left: -133px;
            transform: rotate(90deg);
        }

        &__title {
            top: 72px;
            left: 10px;
            font-size: 3.2rem;
        }
    }
}
