include layout/utils
include ui/input/input

form.form(novalidate, data-handler='/action.php')
    +field({ placeholder: 'Ваше имя', name: 'name', type: 'text', required: true })
    +field({ placeholder: 'Ваш номер', name: 'tel', type: 'tel', required: true })
    +wrapBreak: button.button(type='submit') Получить консультацию
    .form__privacy
        | Нажимая на кнопку «получить консультацию» вы подтверждаете
        | своё согласие с
        a(href='#') политикой конфиденциальности
        | сайта
