@use 'styles/utils';

.form {
    gap: 20px;
    display: flex;
    flex-direction: column;

    .button {
        height: 130px;
    }

    &__privacy {
        font-size: 1.6rem;
        opacity: 0.5;
    }
}

@media only screen and (max-width: utils.$tablet1200) {
    .form {
        .button {
            height: 62px;
        }

        &__privacy {
            margin-top: 10px;
            font-size: 1.4rem;
        }
    }
}
