@use 'styles/utils';

html {
    scroll-behavior: smooth;
    overflow-x: clip;
    font-size: 62.5%;
}

.section {
    position: relative;
    padding: 150px 0;
    width: 100%;

    &--black {
        color: var(--white);
        background-color: var(--black);
    }

    & + & {
        border-top: 1px solid hsla(0, 0%, 7%, 0.15);
    }

    &:is(.page-hero, .main-hero) {
        padding-top: 0;
    }

    &-wrapper {
        position: relative;
        overflow: hidden;
        color: var(--white);
        background-color: var(--black);

        &::before,
        &::after {
            content: '';
            position: absolute;
            @include utils.square(950px);
            display: block;
            pointer-events: none;
            opacity: 0.2;
            filter: blur(400px);
            background: var(--375C);
            border-radius: 100%;
        }

        &::before {
            top: 50%;
            left: -350px;
            translate: 0 -50%;
        }

        &::after {
            top: -325px;
            right: -386px;
        }

        .section {
            position: relative;
            z-index: 1;
            padding: 0;
            border: none;

            .container {
                padding-top: 150px;
                padding-bottom: 150px;
                border-top: 1px solid hsla(0, 0%, 100%, 0.15);
            }
        }
    }
}

.container {
    --container-padding: 30px;
    margin: 0 auto;
    padding: 0 var(--container-padding);
}

.main-wrapper {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    flex: 1 1 0;
}

.hidden {
    display: none;
}

p + p {
    margin-top: 30px;
}

body {
    overflow-x: clip;
    color: var(--black);
    font: 400 2rem var(--manrope);

    @media only screen and (max-width: utils.$tablet1200) {
        font-size: 1.6rem;
    }
}

html.disable-scroll {
    overflow: clip;

    body {
        overflow: clip;
    }
}

.swiper,
.swiper-wrapper,
.swiper-slide {
    box-sizing: border-box !important;
}

.section-border {
    border: solid hsl(0, 0%, 7%, 0.15);
    border-width: 1px 0;
}

@media only screen and (max-width: utils.$tablet1000) {
    .container {
        padding: 0 10px;
    }

    .section {
        padding: 50px 0;

        &-wrapper {
            &::before,
            &::after {
                display: none;
            }

            .section {
                padding: 50px 0;

                .container {
                    padding: 0 10px;
                    border: none;
                }
            }

            .section:first-child {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    bottom: -276px;
                    left: -732px;
                    @include utils.square(950px);
                    display: block;
                    pointer-events: none;
                    opacity: 0.2;
                    filter: blur(350px);
                    background: var(--375C);
                    border-radius: 100%;
                }
            }
        }
    }
}
