@use 'styles/utils';

html {
    overflow-x: clip;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.section {
    padding: 150px 0;
    position: relative;
    width: 100%;

    &--black {
        background-color: var(--black);
        color: var(--white);
    }

    & + & {
        border-top: 1px solid hsla(0, 0%, 7%, 0.15);
    }

    &:first-child {
        padding-top: 0;
    }

    &-wrapper {
        background-color: var(--black);
        color: var(--white);

        .section {
            padding: 0;
            border: none;

            .container {
                padding-top: 150px;
                padding-bottom: 150px;
                border-top: 1px solid hsla(0, 0%, 100%, 0.15);
            }
        }
    }
}

.container {
    margin: 0 auto;
    padding: 0 30px;
}

.main-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.main {
    flex: 1 1 0;
}

.hidden {
    display: none;
}

body {
    overflow-x: clip;
    color: var(--black);
    font: 400 2rem var(--manrope);
}

html.disable-scroll {
    overflow: clip;

    body {
        overflow: clip;
    }
}

.swiper,
.swiper-wrapper,
.swiper-slide {
    box-sizing: border-box !important;
}

@media only screen and (max-width: utils.$tablet1000) {
    .container {
        padding: 0 10px;
    }

    .section {
        padding: 50px 0;

        &-wrapper {
            .section {
                padding: 50px 0;

                .container {
                    border: none;
                    padding: 0;
                }
            }
        }
    }
}
