:root {
    //colors'
    --red: hsla(3, 62%, 44%, 1);
    --382C: hsla(66, 66%, 61%, 1);
    --370C: hsla(78, 49%, 42%, 1);
    --375C: hsla(73, 61%, 56%, 1);
    --gray: hsla(0, 0%, 97%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --black: hsla(0, 0%, 7%, 1);

    //fonts
    --sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji';
    --manrope: 'Manrope', --sans;
    --neucha: 'Neucha', --sans;
    --nunito: 'Nunito', --sans;
}
